<% provide(:title, 'All Users')%>
  <h2>All User</h2>
<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>

<ul class="users">
   <%= render @users %>
</ul>
<%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
